body{background:rgb(22, 70, 107);
}
.animais{
    width: 419px;
    height: 442px;
    border-radius: 12px;
    margin-top: 12px;
 }
 .cachorro2{
     width: 419px;
    height: 442px;
    border-radius: 12px;
    margin-top: 12px;
 }
 img{
     height: 136px;
     width: 247px;
    
 }
 .voleibol{
     display: flex;
     justify-content: center; 
     gap: 183px;
     
 }
 .card{
     width: 551px;
     height: 725px;
     text-align: center;
     background: #d9d9d9;
     border-radius: 12px;

 }
 .texto2{
    text-align: center;
    display: flex;
    justify-content: center;
    ;
 }